<footer>
    <div class="primary">
        <ul>
            <li><a href="http://www.npr.org" data-action="Click Logo"><img src="http://media.npr.org/chrome/news/nprlogo_138x46.gif" alt="NPR Logo"></a></li>
            <li class="news"><a href="http://www.npr.org/sections/news/">News</a></li>
            <li class="artslife"><a href="http://www.npr.org/sections/arts/">Arts &amp; Life</a></li>
            <li class="music"><a href="http://www.npr.org/music/">Music</a></li>
            <li class="programs"><a href="http://www.npr.org/programs/">Programs</a></li>
            <li class="listen"><a href="http://www.npr.org/listen/">Listen</a></li>
            <li class="about"><a href="http://www.npr.org/about/">About</a></li>
        </ul>
    </div>
    <div class="secondary">
        <p>&copy;2014 NPR</p>
        <ul>
            <li id="footerContact"><a href="http://help.npr.org/npr/includes/customer/npr/custforms/contactus.aspx">Contact</a></li>
            <li><a href="http://www.npr.org/about/termsofuse.html">Terms of Use</a></li>
            <li><a href="http://www.npr.org/about/privacypolicy.html">Privacy</a></li>
            <li><a href="http://thin.npr.org/">Text-Only</a></li>
        </ul>
    </div>
</footer>