{% extends '_base.html' %}

{% block header_content %}
<div class="fixed-header">
    <div class="container-fluid">
        <div class="row">
            <div class="fixed-header-wrapper">
                <h1><a class="annotation-link" href="#annotations">{{ COPY.content.project_name }}</a></h1>
                <div class="mode">
                    <a class="toggle annotations active" href="#annotations">Annotations</a>
                    <a class="toggle bill" href="#bill">Full Text</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- <div class="mode-toggle">
    <div class="container-fluid">
        <div class="row">
            <ul class="list-unstyled">
                <li class="active"><a href="#annotations"><i class="fa fa-angle-left"></i> View Annotations</a></li>
                <li><a href="#bill" data-toggle="tab">View Full Text <i class="fa fa-angle-right"></i></a></li>
            </ul>
        </div>
    </div>
</div> -->

<div class="pane-wrapper">

    <div class="annotations" id="annotations">

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="project-header">
                    <h1>{{ COPY.content.project_name }}</h1>
                    <h2>{{ COPY.content.project_description }}</h2>
                    <p>{{ COPY.content.byline }}</p>
                    <hp>{{ COPY.content.pubdate }}</p>
                </div>
            </div>
        </div>
    </header>

    <div class="contributors">
        <div class="container-fluid">
            <div class="row">
                <div class="contributor-wrapper">
                    <div class="row">
                        <h3>With Commentary By</h3>
                    {% for contributor in COPY.contributors %}
                        <div class="contributor">
                            <img src="{{ contributor.mug }}">
                            <h4>{{ contributor.name }}</h4>
                            <p>{{ contributor.bio }}</p>

                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for annotation in COPY.annotations %}
        {% if annotation.title != last_title %}
        <div class="section-header">
            <div class="container-fluid">
                <div class="row">
                    <h2>{{ annotation.title }}</h2>
                    {% set last_title = annotation.title %}
                </div>
            </div>
        </div>
        {% endif %}
        {% set contributor = COPY.contributors[annotation.author_key] %}
        <div class="annotation container-fluid" id="annotation-{{ annotation.key }}">
            <div class="row">
                {% if annotation.is_reply !="TRUE" %}
                <div class="cited">
                    <p><a class="bill-link" href="#bill-{{ annotation.key }}">{{ annotation.cited }}</a></p>
                </div>
            </div>
            <div class="row">
                {% endif %}
            </div>
            <div class="row">
                <div class="annotator">
                    <img class="mug" src="{{ contributor.mug }}">
                    <p class="name">{{ contributor.name }}</p>
                </div>
                <p class="content">{{ annotation.content }}</p>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="bill" id="bill">
        {% include '_bill.html' %}
    </div>
</div>
{% endblock %}
