{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="project-header">
                <h1>{{ COPY.content.project_name }}</h1>
                <h2>{{ COPY.content.lorem_ipsum }}</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block wide_content %}
{% for annotation in COPY.annotations %}
    <div class="annotation" id="annotation-{{ annotation.slug }}">
        <div class="cited">
            <a href="#bill-{{ annotation.slug }}">{{ annotation.cited }}</a>
        </div>
        <span class="name">{{ annotation.name }}</span>
        <span class="content">{{ annotation.content }}</span>
    </div>
{% endfor %}

<div class="bill">{% include '_bill.html' %}</div>
{% endblock %}
