{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="project-header">
                <h1>{{ COPY.content.project_name }}</h1>
                <h2>{{ COPY.content.lorem_ipsum }}</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="row">
    <ul class="mode-toggle nav nav-pills nav-justified">
      <li class="active"><a href="#annotations">Annotations</a></li>
      <li><a href="#bill">Full Text</a></li>
    </ul>
</div>

<div class="tab-content">
  <div class="tab-pane show annotations" id="annotations">
    {% for annotation in COPY.annotations %}
        <div class="annotation" id="annotation-{{ annotation.key }}">
            <div class="annotator">
                <img class="mug" src="http://placekitten.com/g/300/300">
                <p class="name">{{ annotation.name }}</p>
            </div>
            <div class="cited">
                <p><a href="#bill-{{ annotation.key }}">{{ annotation.cited }}</a></p>
            </div>
            <p class="content">{{ annotation.content }}</p>
        </div>
    {% endfor %}
    </div>

    <div class="tab-pane bill" id="bill">{% include '_bill.html' %}</div>
</div>

{% endblock %}
